<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Yalla Notlob</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:600' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/style/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/style/animate/animate.css" />
    <link rel="stylesheet" href="assets/style/animate/set.css" />
        <link rel="stylesheet" href="assets/style/blueimp-gallery.min.css">
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
        <link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
        <!-- <link rel="stylesheet" href="assets/style/style.css"> -->
        <link rel="stylesheet" href="assets/style/style2.css">
    </head>
    <body>


<div class="topbar animated fadeInLeftBig"></div>
<!-- Header Starts -->

<div class="navbar-wrapper">
    <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="top-nav">
            <div class="container">
                <div class="navbar-header">
                  <!-- Logo Starts -->
                  <a class="navbar-brand" href="#home"><img src="assets/images/logo.png" alt="logo"></a>
                  <!-- #Logo Ends -->
                </div>
          <!-- Nav Starts -->
          <div class="navbar-collapse  collapse" height="76px">
            <!-- pages -->
            <ul class="nav navbar-nav navbar-left">
               <li class="active"><a href="/home">Home</a></li>
               <li ><a href="/friends">Friends</a></li>
               <li ><a href="/groups">Groups</a></li>
               <li ><a href="/orders">Orders</a></li>
            </ul>
            <!-- user info -->
            <ul class="nav navbar-nav navbar-right">
               <li class="active"><a href="#home">notification</a></li>
               <li ><a href="#friends">image</a></li>
               <li ><a href="#groups">username</a></li>
               <li ><a href="/">logout</a></li>
            </ul>
          </div>
          <!-- #Nav Ends -->
        </div>
      </div>
    </div>
  </div>
<!-- #Header Starts -->
<!-- //////////////////orderDetails Page/////////////////////////// -->
<div id="orderDetails">
    <!-- Slider Starts -->
    <div class="banner">
        <img src="assets/images/back.jpg" alt="banner" class="img-responsive">
        <div class="caption">
            <div class="caption-wrapper">
                <div class="caption-info">

                  

            </div>
        </div>
      </div>
    </div>
</div>


    <!--....................................... jquery........................ -->
    <script src="assets/libraries/jquery.js"></script>
    <script src="assets/libraries/wow.min.js"></script>
    <script src="assets/libraries/bootstrap.js" type="text/javascript" ></script>
    <script src="assets/libraries/touchSwipe.min.js"></script>
    <script src="assets/libraries/respond.js"></script>
    <script src="assets/libraries/jquery.blueimp-gallery.min.js"></script>
    <script src="assets/js/script.js"></script>
    <script src="layout/scripts/jquery.min.js"></script>
    <script src="layout/scripts/jquery.backtotop.js"></script>
    <script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>
