<!DOCTYPE html>

<html lang="">
    <head>
        <title>Basend</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link href="assets/style/style.css" rel="stylesheet" type="text/css" media="all">
    </head>
    <body id="top">
        <div class="wrapper row3">
            <main class="hoc container clear">
                <div class="content">
                    <h2>Add Orders</h2>
                    <div class="group btmspace-50 demo">
                        <div class="one_half first">
                            <div class="row wowload fadeInLeftBig">
                                <div class="col-sm-6 col-sm-offset-3 col-xs-12">
                                      <form role="form" >
                                            <label>From</label>
                                            <input type="text" placeholder="Restaurant Name">
                                            <label>Friends</label>
                                            <input type="text" placeholder="Friends Or Group Name">
                                            <label>Menu Image</label>
                                            <input type="file" >
                                            <button class="btn btn-primary"><i class="fa fa-paper-plane"></i> Publish </button>
                                      </form>
                                </div>
                             </div>
                        </div>
                        <div class="one_half">
                            <ul class="nospace group services">
                                <li class="one_quarter" style="width: 613px;margin-top: 28px;">
                                    <article>
                                        <div style="margin-right: 498px;">
                                            <h6 class="heading" style="margin-right: -30px;margin-bottom: 8px;">Ahmed Alii</h6>
                                            <figure class="avatar"><img src="assets/images/avatar.png" alt=""></figure>
                                            <h6 class="heading font-x1" style="margin-top: 13px;"><a href="#">Remove</a></h6>
                                        </div>
                                    </article>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
             <div class="clear"></div>
          </main>
        </div>
<!-- ################################################################################################ -->
        <script src="assets/libraries/jquery.min.js"></script>
        <script src="assets/libraries/jquery.backtotop.js"></script>
        <script src="assets/libraries/jquery.mobilemenu.js"></script>
    </body>
</html>
