<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>forgot password</title>
  </head>
  <body>
    <input type="text">
    <form  method="post">
      <button type="submit">reset</button>
    </form>
  </body>
</html>
