<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Yalla Notlob</title>
     <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:600' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/style/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/style/animate/animate.css" />
    <link rel="stylesheet" href="assets/style/animate/set.css" />
        <link rel="stylesheet" href="assets/style/blueimp-gallery.min.css">
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="assets/style/style2.css">
    <script src="assets/libraries/jquery-3.1.1.js"></script>

</head>
<body>
        <!-- Header Starts -->
        <div class="navbar-wrapper">
            <div class="container">
                <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="top-nav">
                    <div class="container">
                        <div class="navbar-header">
                          <!-- Logo Starts -->
                          <a class="navbar-brand" href="#home" ><img src="assets/images/logo.png" alt="logo" style="margin-top: -70px;width: 200px;"></a>
                          <!-- #Logo Ends -->
                        </div>
                        <!-- Nav Bar Starts -->
                        <div class="navbar-collapse  collapse scroll">
                          <ul class="nav navbar-nav navbar-right scroll">
                             <li ><a href="#aboutUs">About Us</a></li>
                          </ul>
                        </div>
                        <!-- #Nav Ends -->
                    </div>
                </div>
            </div>
        </div>

<div class="resetPasswordClass">
  <h3 style="margin-left: -47px;">Enter Your Email</h3>
  <input type="text" style="margin-left: -33px;" id="emailReset" required>
  <form  method="post" style="padding-top: 20px;">
    <button type="submit" class="btn" style="background-color:#A2B70D;margin-left:-15px;" id="resetBtn">reset</button>
  </form>
  <form  class="" action="/"  method="post"  style="margin-top: 10px;margin-left: -25px;">
    <button type="submit" class="btn" style="background-color:#A2B70D;margin-left:-15px" id="resetBtn">Back To Login</button>
  </form>
  <h3 id="emailSent"></h3>
</div>

<script>
    $("#resetBtn").on('click',function(){
        console.log("your email has been sent ");
        if($("#emailReset").val() !== ''){
            $("#emailSent").html("Email Sent")
        }else{
            $("#emailSent").html(" ")
        }
    })
</script>


    <!--....................................... jquery........................ -->
    <script src="assets/libraries/jquery.js"></script>
    <script src="assets/libraries/wow.min.js"></script>
    <script src="assets/libraries/bootstrap.js" type="text/javascript" ></script>
    <script src="assets/libraries/touchSwipe.min.js"></script>
    <script src="assets/libraries/respond.js"></script>
    <script src="assets/libraries/jquery.blueimp-gallery.min.js"></script>
    <script src="assets/js/index.js"></script>

</body>
</html>
