<%include layout/header%>
<!-- #Header Starts -->
<script src="assets/libraries/jquery-3.1.1.js"></script>
<script src="assets/libraries/socket.io.js"></script>
<script src="assets/js/homeSocket.js"></script>

<!-- //////////////////friends Page/////////////////////////// -->
<div id="friends">
    <!-- Slider Starts -->
    <div class="banner">
        <img src="assets/images/back.jpg" alt="banner" class="img-responsive">
        <div class="caption">
            <div class="caption-wrapper">
                <div class="caption-info">
                    <!-- add Group -->
                    <div class="add">
                      <label for="user" class="heading" style="margin-left: -359px;margin-bottom: -5px;"> Add new Group:</label>
                        <div>
                            <input id="groupName" type="text" style="color:black ;z-index: 1100;position: relative;margin-top: 10px;margin-left: 202px;" required="true">
                            <input id="addGroupBtn" type="submit" class="btn" value="Add Group" style="margin-right: 822px;margin-top: 10px;z-index: 1100;position: relative;">
                            <p id="addGroupError" style="margin-right: 777px;font-size: 17px;margin-top: 10px;"></p>
                        </div>
                    </div>
                  <div class="border-wrap" >
                    <div class="friendsListBorder">
                      <h3 id="currentGroup" style="margin-top:82px;"><%=fristGroup%></h3>
                      <!-- Meera -->
                      <div class="add">
                        <label for="user" class="heading" style="margin-left:-245px;margin-top: 59px;">Friend Name:</label>
                        <div>
                          <input id="user" class="addMemberToGroup" type="text" style="color:black;margin-left: 254px;margin-top: -48px;" required="true">
                          <input type="submit" id="addMemberToGroup" class="btn" value="Add Friend" style="margin-top: -53px;margin-right: -402px;">
                        </div>
                      </div>
                      <p id="addFriendToGroupError" style="font-size: 15px;margin-top: -16px;"></p>

                      <div class="wrapper row3">
                        <main class="hoc container clear" >
                          <div class="sectiontitle">
                          </div>
                          <div class="group excerpts" id="groupMembersList">
                            <%for(var i=0;i<firstGroupMembers.length;i++){%>
                            <article class="one_third" style="margin-top: -140px;">
                              <div class="hgroup">
                                <h6 class="heading" style="color:goldenrod"><%=firstGroupMembers[i]%></h6>   <!--????missing-->
                              </div>
                              <img src="../assets/images/1.jpg" alt="">
                              <footer><a class="btn removeBtn" href="#" id="<%=firstGroupMembers[i]%>">Remove &raquo;</a></footer>
                            </article>
                            <%}%>
                          </div>
                          <div class="clear"></div>
                        </main>
                      </div>
                    </div>
                    <div class="myGroupsBorder">
                      <h3 style="margin:10px">My Groups</h3>
                      <ul class="myGroupsList" id="GroupsNameList">
                        <%for(var i=0;i<myGroups.length;i++){%>
                            <li class="myGroupsItem">
                              <a style="margin:10px" class="heading" id="groupName"><%=myGroups[i]%></a>
                                <div style="margin-left: 200px;margin-top: -28px;">
                                <a id="addIcon"><img src="../assets/images/addFriendIcon.png" style="width: 35px;height: 30px;"></a>
                                <a class="removeG" id="removeIcon"><img src="../assets/images/remove.png" style="width: 35px;height: 30px;"></a>
                                </div>
                            </li>
                        <%}%>
                      </ul>
                    </div>
                  </div>

                </div>
            </div>
        </div>
    </div>
</div>


    <!--....................................... jquery........................ -->
    <script src="assets/libraries/jquery.js"></script>
    <script src="assets/libraries/wow.min.js"></script>
    <script src="assets/libraries/bootstrap.js" type="text/javascript" ></script>
    <script src="assets/libraries/touchSwipe.min.js"></script>
    <script src="assets/libraries/respond.js"></script>
    <script src="assets/libraries/jquery.blueimp-gallery.min.js"></script>
    <script src="assets/js/script.js"></script>
    <script src="layout/scripts/jquery.min.js"></script>
    <script src="layout/scripts/jquery.backtotop.js"></script>
    <script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>
