<!DOCTYPE html>

<html lang="">
    <head>
        <title>Basend</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link href="assets/style/style.css" rel="stylesheet" type="text/css" media="all">
    </head>
    <body id="top">
        <!--////////////////////////////////////ListOrders ////////////////////////// -->
        <div class="wrapper row3">
          <main class="hoc container clear">
            <div class="content">
               <h1>Orders</h1>
                <a class="btn" href="#" style="float: right; margin-top: -57px;">Start New Order !! &raquo;</a>
              <div class="scrollable">
                <table>
                  <thead>
                    <tr>
                      <th>Order</th>
                      <th>Restaurants</th>
                      <th>Invited</th>
                      <th>Joined</th>
                      <th>Status </th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Dinner</td>
                      <td>Mac</td>
                      <td>10</td>
                        <td>5</td>
                       <td>waiting</td>
                      <td><a href="#">View</a><a href="#">Finish</a><a href="#">Cancel</a></td>
                    </tr>
                   <tr>
                      <td>BreakFast</td>
                      <td>Resto</td>
                      <td>10</td>
                        <td>5</td>
                       <td>Finished</td>
                      <td><a href="#">View</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="clear"></div>
          </main>
        </div>
<!-- ################################################################################################ -->
        <script src="assets/libraries/jquery.min.js"></script>
        <script src="assets/libraries/jquery.backtotop.js"></script>
        <script src="assets/libraries/jquery.mobilemenu.js"></script>
    </body>
</html>
