<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Yalla Notlob</title>
    </head>
    <body>
        <div id="header">
            <a href="#">Home</a>
            <a href="#">Friends</a>
            <a href="#">Groups</a>
            <a href="#">Orders</a>
        </div>
    <body>
</html>
